<%- include("../includes/head.ejs") %> 

<section class="login_main">
    <div class="d-flex container justify-content-center align-items-center">
        <div class="py-5 px-5 rounded-4 margin bg-light boxShadow login">
        
            <% if(errorMessage) { %>
                <h6 class="alert alert-warning text-center"><%= errorMessage %></h6>
            <% } %>

            <h4 class="text-center">تغییر رمز عبور</h4>

            <form action="/new-password" method="post">

                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <input type="hidden" name="userId" value="<%= userId %>">
                <input type="hidden" name="passwordToken" value="<%= passwordToken %>">

                <div class="mb-2 row flex-column login_font" dir="rtl">
                    <label for="inputPassword" class="col-form-label">رمز عبور جدید</label>
                    <input name="password" type="password" class="form-control py-2  border-0 shadow" placeholder="رمز عبور جدید را وارد کنید" id="inputPassword">
                </div>

                <div class="mb-2 row flex-column login_font" dir="rtl">
                    <button class="btn btn-warning mt-2">ثبت</button>
                </div>

            </form>
        </div>
    </div>
</section>

<%- include("../includes/end.ejs") %>
