<%- include("../includes/head.ejs") %>
<%- include("../includes/header.ejs") %>
<%- include("../includes/navbar.ejs") %>


<% if(prods.length > 0 ){ %>
  <section class="container">
    <main class="row d-flex justify-content-center align-items-center">
    <% for(let product of prods) {%>
      <div class="col-12 col-sm-6 col-md-4 card my-5 mx-3 border-0" style="width: 15rem;">
        <img src="<%= product.imageUrl %>" class="card-img-top w-100" alt="...">
        <hr>
        <div class="card-body">
          <h5 class="card-title"><%= product.title %></h5>
          <h6 class="card-title"><%= product.price %></h6>
          <p class="card-text"><%= product.description %></p>
          <hr>
          <div class="d-flex justify-content-end">
            <a href="/admin/edit-product/<%= product._id %>?edit=true" class="btn btn-warning mx-2">ویرایش</a>
            <form action="/admin/delete-product" method="post">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <input type="hidden" value="<%= product._id %>" name="productId">
              <button type="submit" class="btn btn-danger">حذف</button>
            </form>
          </div>
        </div>
      </div>
    <% } %>
    </main>
  </section>
<% } else { %>
  <div class=" d-flex align-items-center justify-content-center flex-column my-4">
    <h1 class="text-center mt-5 text-danger">!...محصولی یافت نشد</h1>
    <img src="../assets/image/non.jpg" class="w-25" alt="no product">
  </div>
<% } %>


<%- include("../includes/end.ejs") %>
