<%- include("../includes/head.ejs") %>
<%- include("../includes/header.ejs") %>
<%- include("../includes/navbar.ejs") %>


<% if(prods.length > 0 ){ %>
  <section class="container">
    <main class="row d-flex justify-content-center align-items-center">
    <% for(let product of prods) {%>
      <article class="col-12 col-sm-6 col-md-4 card my-5 mx-3 border-0" style="width: 15rem;">
        <h5 class="text-center mt-4 card-title"><%= product.title %></h5>
        <hr>
        <div class="pb-4">
        <img src="/<%= product.imageUrl %>" class="product_img" alt="...">
          <h6 class="text-center bg-light pt-2 rounded-3 pb-2 my-4 card-title"><%= product.price %> 
          <span class="mx-1">ریال</span></h6>
          <p class="text-center my-2 card-text"><%= product.description %></p>
          <hr>
          <div class="d-flex justify-content-end">
            <a href="/admin/edit-product/<%= product._id %>?edit=true" class="btn btn-warning mx-2">ویرایش</a>
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <input type="hidden" value="<%= product._id %>" name="productId">
              <button type="button" onclick="deleteProduct(this)" class="btn btn-danger">حذف</button>
          </div>
        </div>
      </article>
      
    <% } %>
    </main>
  </section>



<% } else { %>
  <div class=" d-flex align-items-center justify-content-center flex-column my-4">
    <h1 class="text-center mt-5 text-danger">!...محصولی یافت نشد</h1>
    <img src="../assets/image/non.jpg" class="w-25" alt="no product">
  </div>
<% } %>


<%- include("../includes/end.ejs") %>
