<%- include("../includes/head.ejs") %> 
<%- include("../includes/header.ejs") %>
<%- include("../includes/navbar.ejs") %>
<!-- main template -->
<main class="d-flex justify-content-center align-items-center flex-column">
    <% if(products.length > 0) { %>
    <ul class="list-unstyled container rounded-4">
    <% products.forEach(p => { %>
        <li class="py-3 my-3 background rounded-4 d-flex justify-content-center align-items-center shadow-lg">
            <div class="w-25">
                <img class="cart_img" src="/<%= p.productId.imageUrl %>" alt="">
            </div>
            <h3 class="ms-5 ms-sm-5 mt-2 cart_font"><%= p.productId.title %></h3>
            <h4 class="ms-1 ms-sm-5 mt-2 cart_font"><%= p.quantity %></h4>
        </li>
    <%   }); %>
    </ul>
    <div>
        <h5 class="fw-bold"><span class="text-danger">مبلغ نهایی</span>: <%= totalSum %></h5>
    </div>
    <div class="mb-5 mt-3">
        <a class="btn btn-success" href="/paymentRequest">پرداخت</a>
    </div>

    <% } else { %>
    <div class="d-flex align-items-center justify-content-center flex-column my-4">
        <h1 class="text-center text-danger my-5">!...سفارشی ثبت نشده است</h1>
        <img src="../assets/image/no-cart.jpg" class="w-25" alt="no product">
    </div>
    <% } %>


</main>

<%- include("../includes/end.ejs") %>
