<%- include("../includes/head.ejs") %> 
<%- include("../includes/header.ejs") %>
<%- include("../includes/navbar.ejs") %>

<main>
    <div class="container my-5">
        <div class="centred">
            <div class="card detaile">
                <h3 class="card-header text-center my-3"><%= product.title %></h3>
                <div class="card-body d-flex justify-content-center align-items-center flex-column">
                    <img src="<%= product.imageUrl %>" class="w-50" alt="<%= product.title %>">
                    <div class="text-center">
                        <h5 class="card-text"><%= product.description %></h5>
                        <hr>
                        <h6 class="card-text my-3"><%= product.price %> ريال</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<%- include("../includes/end.ejs") %>
